<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Blog Dog Breed Guide</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">
                <a href="/" role="button" style="color: black">Blog Dog Breed Guide</a>
            </span>
            <a href="/posts" class="btn btn-dark" role="button">Posts</a>
        </nav>
    </header>
    <div class="jumbotron">
        <div>
            <br>
            <h1>Expand your reading.</h1>
            <br>
            <h4>No ads. No problems.</h4>
            <br>
        </div>
    </div>
</body>