<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Blog Dog Breed Guide</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="container-fluid" style="width: 87%; padding-bottom: 30px;">
            <div class="text-right">
                <span class="navbar-brand mb-0 h1" style="font-weight: bold;">
                    <a href="/posts" role="button"
                       style="color: black; text-decoration: none; font-family: 'Georgia'; font-size: larger">Breed Guide</a>
                </span>
            </div>
            <div class="text-left">
                <button type="button" class="btn btn-link" role="button" style="color: black; padding: 10px;" data-toggle="modal"
                        data-target="#myModal">
                    <span>Sig in</span>
                </button>
                <a href="/newpost" class="btn btn-outline-dark" role="button">Get started</a>
            </div>
        </div>
    </nav>
</header>

<section>
    <div class="container"  style="width: 70%;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                <li class="breadcrumb-item active" aria-current="page">Draft</li>
            </ol>
        </nav>
        <div>
            <th:block th:include="mensagemValidacao"></th:block>
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Title" required="required">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="minRead" placeholder="Minutes Read" required="required">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="author" placeholder="Author" required="required">
                </div>

                <textarea id="summernote" type="text" class="form-control" name="text" placeholder="Tell your story..." required="required"></textarea>

                <small class="form-text text-muted">(*) Required fields</small>

                <button type="submit" class="btn btn-dark" style="margin-top: 10px;">Post</button>
                <a href="/posts" class="btn btn-light" role="button" style="margin-top: 10px;">Cancel</a>
            </form>
        </div>
    </div>
</section>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col">
                    <button type="button" class="close" data-dismiss="modal" style="padding: 5px;">&times;</button>
                    <br>
                    <div class="card-body">
                        <h3 class="card-title text-center" style="color: black; padding-top: 5px;">
                            Welcome Back.
                        </h3>
                        <br>
                        <div class="col text-center">
                            <p class="card-text" style="text-decoration: none; text-align: center">
                                Sign in to get personalized story
                                <br>
                                recommendations, follow authors and
                                <br>
                                topics you love, and interact with stories.
                            </p>
                            <br>
                        </div>
                        <div class="col text-center" style="border-color: black; border-inline: black">
                            <button type="button" class="btn btn-link" role="button" style="color: black; padding: 10px;" data-toggle="modal"
                                    data-target="#emailModal" data-dismiss="modal">
                                <span>Sig in with email</span>
                            </button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="emailModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col">
                    <button type="button" class="close" data-dismiss="modal" style="padding: 5px;">&times;</button>
                    <br>
                    <div class="card-body">
                        <h3 class="card-title text-center" style="color: black; padding-top: 5px;">
                            Sign up with email
                        </h3>
                        <br>
                        <br>
                        <div class="col text-center">
                            <p class="card-text" style="text-decoration: none; text-align: center">
                                Your email
                            </p>
                            <th:block th:include="mensagemValidacao"></th:block>
                            <form method="user">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="mail" placeholder="mail" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password"  placeholder="password" required="required">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-dark" style="margin-top: 10px;">Continue</button>
                            </form>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#summernote').summernote({
        placeholder: 'Texto *',
        tabsize: 2,
        height: 350
    });
</script>

</body>
</html>